html{background-color:#D0F5BE}
html{font-family:fantasy}

.do{ color:darkslateblue}

 h1{text-align: center;} 
 h1{color: cadetblue;background-color: aliceblue;}
 h2{text-align: center;}  
 h2{color: cadetblue;background-color: aliceblue;} 
 p{text-shadow: cornflowerblue;text-align: center;}

 .rose{color:rgb(255, 129, 2)}
 [plum=true]{text-align: center;}
 
 